@model OmegaSoftware_Adresar_kontakata.Models.Contact
@using OmegaSoftware_Adresar_kontakata.Models

@Html.HiddenFor(x => x.ContactID)

<p>
  <label>Ime</label>
  @Html.TextBoxFor(x => x.FirstName)
</p>

<p>
  <label>Prezime</label>
  @Html.TextBoxFor(x => x.SecondName)
</p>

<p>
  <label>Grad</label>
  @Html.TextBoxFor(x => x.City)
</p>

<p>
  <label>Opis</label>
  @Html.TextBoxFor(x => x.Description)
</p>

<div id="phoneNumbers">
  @Html.EditorFor(x => x.Numbers)
</div>

 <p>
  @Html.AddLink("Add More Phone Numbers", "#phoneNumbers", ".phoneNumber", "Numbers", typeof(OmegaSoftware_Adresar_kontakata.Models.ContactNumber))
</p>