@*@model OmegaSoftware_Adresar_kontakata.Models.Contact*@

@{
    ViewBag.Title = "Create";
}

<script src="~/Scripts/CustomJs.js"></script>

<h2>Add New Contact</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.EditorForModel()
    @Html.ValidationSummary(true)
    <p>
    <button type="submit">Create Contact</button>
    </p>
    @*<fieldset>
        <legend>Contact</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.SecondName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.SecondName)
            @Html.ValidationMessageFor(model => model.SecondName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.City)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.City)
            @Html.ValidationMessageFor(model => model.City)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Description)
            @Html.ValidationMessageFor(model => model.Description)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>*@
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
